<!-- IDTAG rules starts -->
<!-- INCLUDE overall_header.html -->
<div class="block_bg">
	<div class="forabg sgp-corners">
		<li class="header" style="list-style-type: none; padding-bottom: 0px;">
			<dl>
				<dd style="padding-bottom: 0px;">
					<div class="block_title" style="text-align:left;">{L_BASIC_RULES_HEADER} &nbsp; (<!-- BEGIN basic_rules -->{L_UPDATED} {basic_rules.TO_DAY}<!-- END basic_rules -->)</div>
				</dd>
			</dl>
		</li>
		<div class="box">
			<span class="rules">
				<!-- BEGIN basic_rules -->
				{basic_rules.BASIC_RULES} <br />
				<!-- END basic_rules -->
			</span>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
<!-- IDTAG rules ends -->