<br />Portal: <a href="http://www.stargate-portal.com"> Stargate Portal</a> &copy; 2005 - 2011 <a href="http://www.phpbb.com/community/memberlist.php?mode=viewprofile&amp;u=15915">Michael O'Toole</a><br />
<!-- IF STYLE_DATA --> {STYLE_DATA} <br /><!-- ENDIF -->

<!-- IF S_K_FOOTER_IMAGES_ALLOW -->
	<br />
	<a rel="external" href="http://phpbb.com"> <img src="./images/links/www.phpbb.com.gif" alt="" /></a>
	<a rel="external" href="http://vikjavev.no/highslide"> <img src="./images/links/vikjavev.no.gif"  alt="" /></a>
	<a rel="external" href="http://www.phpbbireland.com"> <img src="./images/links/www.phpbbireland.com.gif"  alt="" /></a>
<!-- ENDIF -->