<!-- IF STARGATE -->
	<!-- INCLUDE overall_header.html -->

	<!-- IF PAGE == 'map' -->
		<!-- INCLUDE wrappers/map.html -->
	<!-- ELSEIF PAGE == 'video' -->
		<!-- INCLUDE wrappers/video.html -->
	<!-- ELSEIF PAGE == 'sample' -->
		<!-- INCLUDE wrappers/sample.html -->
	<!-- ELSE -->
		<!-- INCLUDE wrappers/none.html -->
	<!-- ENDIF -->


	<!-- IF PAGE == 'map' or PAGE == 'avatars' -->
		<!-- IF S_DISPLAY_ONLINE_LIST -->
			<!-- INCLUDE blocks/block_whos_on_line.html -->
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
			<!-- INCLUDE blocks/block_birthday.html -->
		<!-- ENDIF -->
		<!-- IF NEWEST_USER -->
			<!-- INCLUDE blocks/block_stats.html -->
		<!-- ENDIF -->
	<!-- ENDIF -->

	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->