/* Fix Firefox - Last Updated: 21 September 2011 Mike */
.show_in_ie { display: none; }

.top_gap {clear: both; padding-top: 0px;}
.bottom_gap {margin-top: 2px;}
.left_blocks_col_show {margin-bottom: 0px; margin-top: 3px;}
.right_blocks_col_show {margin-bottom: 0px; margin-top: 3px;}

/** Block Icons **/
.handle { cursor: move; }
.showhide { float: right; margin-top: -2px;}
.handle img { float: right; margin-top: 1px; margin-right: 2px; }