<!-- IDTAG block_translate.html 20 November 2008 -->
<div class="block_data">
	<div id="google_translate_element" style="text-align:center;"></div>
	<script type="text/javascript">
	// <![CDATA[
		function googleTranslateElementInit()
		{
		  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
		}
		// ]]>
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<!-- IDTAG ends -->
<!-- IF DEBUG_QUERIES --><div class="block_data">{TRANSLATE_DEBUG}</div><!-- ENDIF -->